{{define "title"}}Dashboard{{end}}

{{define "main"}}
<div class="main-wrapper overflow-auto">
    <div class="flex h-full flex-col">

        <div class="content-wrapper">
            <div>
                <div class="flex items-center justify-between">
                    <h3 class="text-lg font-medium">Business Overview</h3>
                    <div aria-label="Breadcrumbs" class="breadcrumbs text-sm hidden p-0 sm:inline">
                        <ul>
                            <li>Dashboard</li>
                        </ul>
                    </div>
                </div>
                <div class="mt-6">
                  Nothing to see here yet...
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}