{{define "title"}}Dashboard{{end}}

{{define "main"}}
<div class="main-wrapper overflow-auto">
    <div class="flex h-full flex-col">
        <div class="content-wrapper">
            <div>
                <div class="flex items-center justify-between">
                    <h3 class="text-lg font-medium">Workspace Overview</h3>
                </div>
                <div class="mt-6">
                    <button class="btn btn-outline btn-primary">Create project</button>
                </div> 
                <div class="mt-6">
                    <div class="overflow-x-auto">
                        <table class="table">
                            <!-- head -->
                            <thead>
                                <tr>
                                    <th>
                                        <label>
                                            <input type="checkbox" class="checkbox" />
                                        </label>
                                    </th>
                                    <th>Name</th>
                                    <th>Date created</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{if .Projects}}
                                {{range .Projects}}
                                <tr>
                                    <th>
                                        <label>
                                            <input type="checkbox" class="checkbox" />
                                        </label>
                                    </th>
                                    <td>
                                        <div class="flex items-center gap-3">
                                            <div class="avatar">
                                                <div class="mask h-12 w-12">
                                                    <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/folder-blue-512.png"
                                                        alt="Avatar Tailwind CSS Component" />
                                                </div>
                                            </div>
                                            <div>
                                                <div class="font-bold">
                                                    <a class="font-bold hover:underline" href="/project/view?id={{.ID}}">{{.Name}}</a>
                                                </div>
                                                <div class="text-sm opacity-50">id: #{{.ID}}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-ghost badge-sm">{{humanDate .Created}}</span>
                                    </td>
                                    <th>
                                        <a class="btn btn-ghost btn-xs" href="/project/view?id={{.ID}}">details</a>
                                    </th>
                                </tr>
                                {{end}}
                                {{else}}
                                Nothing to see here yet...
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}